@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans serif";
}
h1{
    color: #0d2455;
    margin: 10px 30px;
}

input.cargar {
    background-color: #dde0ea;
    color: #2b52a0;
    margin: 10px 30px;
    padding: 8px 26px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

input.cargar:hover {
    background-color: #a5aecd;
}

select {
    background-color: #eeeff3;
    color: #2b52a0;
    margin: 10px 30px;
    padding: 8px 26px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

select:hover {
    background-color: #cdd5f2;
}

div#contenedor{
    margin: 10px 30px;
}


table {
    width: 60%;
    text-align: center;
    border-collapse: collapse;    
}

td {
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border: 4px solid #fff; 
    font-size: 12px;
    cursor: pointer;
}

tr:hover td {
    background: #d0dafd;
    color: #339; 
    border: 4px solid #fff;
    font-size: 12px;
}

input.button {
    width: 96%;
    background-color: #b9c9fe;
    color: #039;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    padding: 8px 8px;
}

input.button:hover {
    background-color: #a1b1e6;
}

form{
	width:55%;
	padding:16px;
	border-radius:4px;
	background-color:#dde0ea;
}

form label{
	font-weight: 500;
    padding: 5px;
    font-size: 14px;
}

form input[type="text"],
form input[type="number"]{
	width:100px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="button"]{
	width:32%;
	padding:8px 16px;
	margin-top:10px;
	border-radius:4px;
	border: none;
	color:#fff;
	background-color:#2b52a0;
} 

form input.botones[type="button"]{
	display: inline-block;
} 

